
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    color: #333;
  }
  
 
  .body-cur {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  
  .nav-cur {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .link-cu {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .link-cu:hover {
    text-decoration: underline;
  }
  
  
  .formu-curso {
    margin-bottom: 20px;
  }
  
  .formu-curso h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .cursos {
    margin-top: 20px;
  }
  
  .curso-item {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .curso-item p {
    margin: 5px 0;
  }
  
  .curso-item p b {
    color: #007bff;
  }
  